<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/basicLayout :: basicLayout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="|${boardDto.title} - 자유게시판|">자유게시판 - 게시물 보기</title>
    <link rel="stylesheet" href="/css/board.css">
    <script type="text/javascript" src="/js/board.js"></script>
</head>
<body>

<section class="container board-view my-5">

    <h5><span id="go-list" style="cursor: pointer"><i class="bi bi-arrow-left h4"></i> 목록</span></h5>

    <!-- 제목 -->
    <table class="table-title mb-0 mt-4"><thead>
    <tr><th colspan="4" th:text="${boardDto.title}">게시물 제목</th></tr>
    </thead></table>

    <!-- 메타 정보 -->
    <table class="meta-table mb-0"><tbody>
    <tr>
        <th style="width:15%">등록자명</th>
        <td style="width:35%" th:text="${boardDto.name}"></td>
        <th style="width:15%">등록일</th>
        <td style="width:35%" th:text="${boardDto.createdDate}"></td>
    </tr>
    <tr>
        <th style="width:15%">조회수</th>
        <td colspan="3" style="width:85%" th:text="${boardDto.views}"></td>
    </tr>
    </tbody></table>

    <hr>

    <div class="mt-3" th:if="${boardDto.uploadedFiles.size() > 0}">
        <h6 style="margin-left: 13px"><i class="bi bi-file-earmark-arrow-down"></i> 첨부파일</h6>
        <ul>
            <li th:each="attachedFile : ${boardDto.uploadedFiles}">
                <a th:text="${attachedFile.getOriginalFileName()}"
                   th:href="|/api/files/${attachedFile.getStoreFileName()}|"></a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="d-flex align-items-start mt-4 mb-3">
        <div id="board-id" hidden th:text="${boardDto.id}"></div>
        <!-- 좋아요 싫어요 버튼 및 갯수 -->
        <div th:if="${session.memberId == null}" class="action-buttons d-flex flex-column align-items-center me-4">
            <button class="btn" th:onclick="|alert('로그인이 필요합니다.');|">
                <i class="bi bi-hand-thumbs-up"></i>
            </button>
            <p th:text="${boardDto.totalReactionCount}">0</p>
            <button class="btn" th:onclick="|alert('로그인이 필요합니다.');|">
                <i class="bi bi-hand-thumbs-down"></i>
            </button>
        </div>
        <div th:if="${session.memberId != null}" class="action-buttons d-flex flex-column align-items-center me-4">
            <button class="btn" id="thumbs-up">
                <i id="thumbs-up-class" th:class="${boardDto.reactionType?.name()} == 'LIKE'
                 ? 'bi bi-hand-thumbs-up-fill' : 'bi bi-hand-thumbs-up'"></i>
            </button>
            <p id="total-reaction-ct" th:text="${boardDto.totalReactionCount}">0</p>
            <button class="btn" id="thumbs-down">
                <i id="thumbs-down-class" th:class="${boardDto.reactionType?.name()} == 'DISLIKE'
                 ? 'bi bi-hand-thumbs-down-fill' : 'bi bi-hand-thumbs-down'"></i>
            </button>
        </div>
        <!-- 본문 영역 -->
        <div class="content flex-grow-1" th:text="${boardDto.content}">
            본문 내용이 여기에 표시됩니다.
        </div>
    </div>

    <hr>

    <!-- 수정/삭제 -->
    <div class="d-flex justify-content-end gap-2 mt-4">
        <a th:href="@{/bbs/edit/{id}(id=${boardDto.id})}"
           class="btn btn-secondary"
           th:if="${session.memberId} == ${boardDto.memberId}"
        >
            수정
        </a>

        <form th:if="${session.memberId} == ${boardDto.memberId}"
              th:action="@{/bbs/delete/{id}(id=${boardDto.id})}"
              method="post">
            <button type="submit" id="delete-btn" class="btn btn-warning">
                삭제
            </button>
        </form>
    </div>

    <!-- 답변 -->
    <div>
        <!-- 총 답변 수 -->
        <div>
            <p id="comment-count"></p>
        </div>

        <!-- 답변 등록 -->
        <div class="add-comment-parent mb-4">
        <textarea id="add-comment-parent"
                  class="add-comment-input"
                  rows="1"
                  th:placeholder="${session.memberId} != null
                      ? ${memberName} + '님, 답변을 작성해보세요.' : '로그인 후 답변을 작성해 주세요.'"
                  th:disabled="${session.memberId == null}"
        ></textarea>
            <button id="submit-comment-parent" class="reply-btn" style="display: none;">답변 등록</button>
            <button id="cancel-comment-parent" class="cancel-btn" style="display: none;">취소</button>
        </div>

        <!-- 답변 조회하기 -->
        <div class="mt-4">
            <div id="comments-container" class="comments-container"></div>
            <!-- 로딩 스피너 -->
            <div id="loading-spinner" class="spinner" style="display: none;"></div>
        </div>
    </div>

</section>

</body>
</html>