<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/basicLayout :: basicLayout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 - 자유게시판</title>
    <link rel="stylesheet" href="/css/board-edit.css">
    <script defer type="text/javascript" src="/js/file.js"></script>
</head>
<body>

<section class="write-section" tabindex="0">
    <h2>게시물 작성</h2>
    <p>자유게시판에 게시될 글의 제목과 내용을 입력해 주세요.</p>

    <form action="/bbs/write" id="postForm" th:object="${addBoardDto}" method="post" enctype="multipart/form-data">
        <ul class="write-list">
            <li>
                <label for="title">제목<span class="required-star">*</span></label>
                <input id="title" type="text" th:field="*{title}"
                       style="width: 100%; padding: .5rem; border: 1px solid #dee2e6;"
                       placeholder="제목에 핵심 내용을 요약보세요."
                >
                <p class="field-error" th:errors="*{title}"></p>
            </li>
            <li>

                <label for="editor">내용<span class="required-star">*</span></label>
                <div id="toolbar">
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-strike"></button>
                        <button class="ql-link"></button>
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                        <select class="ql-align"></select>
                    </span>

                    <span class="ql-formats">
                        <button class="ql-code"></button>
                        <button class="ql-blockquote"></button>
                        <button class="ql-image"></button>
                        <button class="ql-video"></button>
                    </span>

                    <span class="ql-formats">
                        <button class="ql-header" value="1"></button>
                        <button class="ql-header" value="2"></button>
                        <button class="ql-header" value="3"></button>
                    </span>

                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-divider"><img src="/images/minus-symbol.png" alt="line separator"></button>
                    </span>
                </div>

                <div id="editor" style="height:700px; font-size: 18px"></div>
                <p class="field-error mt-2" th:errors="*{content}"></p>
                <p class="field-error mt-2" th:errors="*{storeFileNames}"></p>

                <input type="hidden" th:field="*{content}" id="hidden-content" />
                <div id="storeFileNamesContainer"></div>

            </li>

            <hr>

            <li class="button-group">
                <button id="submit" type="submit"
                        style="padding: .5rem 1rem; border: none; background: #0d6efd; color: #fff;"
                >등록
                </button>
                <a th:href="@{/bbs}" style="margin-left: 1rem; color: #0d6efd; text-decoration: none;">취소</a>
            </li>
        </ul>
    </form>
</section>

</body>
</html>